# build output
dist/
.astro/

# dependencies
node_modules/

# generated types
.vercel/
.netlify/

# OS / editor
.DS_Store
._*
Thumbs.db
.idea
*.sublime-project
*.sublime-workspace

# logs
*.log
npm-debug.log*
