---
layout: page
title: Cool Work
---
<h5>Nontechnical work outside of engineering and research</h5><br>
<div class="posts">
  
    <div class="row">
    {% assign filename = "/public/img/" %}
    {% for post in site.work reversed %}
    <div class="col-6">
      <div class="card">
        <img class="card-img-top thumbnail-img" src="{{ post.image | prepend: filename }}" alt="{{ post.description }}">
        <div class="card-body"> 
          <h2 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.description}}</p>
          <a href="{{ post.url | absolute_url }}">Read more &raquo;</a>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  
</div>


<!-- <div class="row">
  {% assign filename = "../public/img/" %}
  {% for post in site.posts %}
  <div class="col-md-6 d-flex justify-content-center">

    <div class="post">
      <img src="{{ post.image | prepend: filename }}" class="img-fluid mx-auto d-block" style="height: 250px" >
        <h3 class="post-title">
          <a href="{{ post.url | absolute_url }}">
              {{ post.title }}
          </a>
        </h3>
    </div>

  </div>
  {% endfor %}
  
</div> -->