---
layout: page
title: (non-exhaustive) Non-technical work I've done.
---
<div>
  Under construction - check back later!
</div>

<!-- <h5>Nontechnical work outside of engineering and research</h5><br> -->

<!-- <div class="list-group">
  {% for post in site.work reversed %}
    <a href="{{ post.url | absolute_url }}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ post.title }}</h5>
      </div>
      {% if post.description %}
      <p class="mb-1">{{ post.description }}</p>
      {% endif %}
    </a>
  {% endfor %}
</div> -->


<!-- <div class="row">
  {% assign filename = "../public/img/" %}
  {% for post in site.posts %}
  <div class="col-md-6 d-flex justify-content-center">

    <div class="post">
      <img src="{{ post.image | prepend: filename }}" class="img-fluid mx-auto d-block" style="height: 250px" >
        <h3 class="post-title">
          <a href="{{ post.url | absolute_url }}">
              {{ post.title }}
          </a>
        </h3>
    </div>

  </div>
  {% endfor %}

</div> -->
